.infrared {
    height: 100%;
    .el-container {
        margin-top: 10px;
        height: calc(100% - 170px);
        .el-aside {
            flex: 65% 0 0;

            height: 100%;
            .box {
                display: flex;
                flex-direction: column;

                .chart-box {
                    margin-top: 10px;
                    border-radius: var(--radius-2);
                    flex: 300px 0 0;
                    .chart {
                        height: 100%;
                    }
                }
                .table-part {
                    margin-top: 10px;
                }
            }
        }
        .el-main {
            padding: 0;
            padding-left: 10px;
        }
    }
}
